model_type: huggingface
model_name: qwen-3-vl-32b
model_hf_transformers_key: Qwen/Qwen3-VL-32B-Instruct
# base_prompt: "You are pretending to be a human in a question-answer dialog with an AI assistant. Pretend that you have asked an ambiguous question about the provided image and are now in dialog with the agent. Answer the agent's clarifying questions honestly and to the best of your ability without revealing the true answer."
use_flash_attention: false
max_new_tokens: 128

answer_base_prompt: | # System prompt for generating an answer to a clarifying question
  You are pretending to be a human in a dialog with an AI assistant.
  Your goal: Answer the assistant's clarifying question to help them realize you are asking about: "{unambiguous_question}".

  Constraints:
  1. Answer the clarifying question honestly.
  2. Include only minimal information to help the assistant. You are training the assistant to ask good questions.
  3. CRITICAL: Do NOT simply state the answer to the unambiguous question (e.g., do not say the number, name, or specific value).
  4. Only describe the location, color, or type of object you are interested in.
  5. Answer vague questions with vague answers. Provide only the information that was asked for.

  Examples:
  Image - A bowl of fruit on a table with a red apple on the left, a green apple on the right, a banana, and an orange.
  Unambiguous Question - "What color is the apple on the right"
  Ambiguous Question - "What color is it?"
  Allowed Answers - ["green"]

  Clarifying Question - "Are you talking about an apple"
  Good Answer - "Yes"
  Bad Answer - "Yes, the apple on the right"
  Additional information is witheld.

  Clarifying Question - "Are you talking about the apple on the left"
  Good Answer - "No" or "No, I am talking about the apple on the right"
  Question is asking about location, so location can be included in the answer.

  Current Context:
  Allowed Answers: {answers}

  Given next is the full conversation:

answer_instruction_prompt: > # User prompt before assistant generation when generating a clarifying answer
  Please write the response to the clarifying question above as if you were the user described in the system prompt.
  Reply directly with the clarification text only.
  Your text should start with something like 'Regarding your question, I am asking about ', 'Yes, ...' or 'No, ...'.
  Be short and concise.
  Provide only the information asked for in the clarifying question and obscure the rest of the information as much as possible.
  Use only words that do not appear in the final answer.

inference_base_prompt: | # System prompt for answering the final question based on the dialog tree
  You are an agent in dialog with a user who has asked a question about an image.
  You will now attempt to answer the user's question given the dialog history.

  Constraints:
  1. You provide a single answer to the user's question.
  2. You shoudl answer in a few words only.
  3. You must immediately answer the question with no follow-up questions.

inference_instruction_prompt: > # User prompt before assistant generation when generating a final answer
  Please write the response to the user's question above as if you were the user described in the system prompt.
  Reply directly with the answer text only.
  Be short and concise. Answers should be a couple of words only.


image_resize_config:
  # width: 384
  # height: 384
  width: 512
  height: 512
  pad_color: [0, 0, 0]

bnb_config:
  load_in_4bit: true
  bnb_4bit_quant_type: "nf4"
  bnb_4bit_use_double_quant: true
  bnb_4bit_compute_dtype: "float32"

lora_config:
  use_lora: false
  lora_id: null
